.zd-cascader-selector {
  display: flex;
  position: relative;
  box-sizing: border-box;
  width: 184px;
  height: 32px;
  padding: 0 29px 0 11px;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  background-color: #fff;
  cursor: pointer;
}

.zd-cascader-selector.z-focus {
  border-color: #1677ff;
  box-shadow: 0 0 0 2px rgba(5, 145, 255, 0.1);
}

.zd-cascader-selector:hover {
  border-color: #1677ff;
}

.zd-cascader-selector.z-has-cnt:hover .zd-cascader-selector-icon--clear {
  display: flex;
}

.zd-cascader-selector-icon {
  position: absolute;
  right: 11px;
  top: 9px;
  width: 12px;
  height: 12px;
}

.zd-cascader-selector-icon--clear {
  display: none;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, .25);
}

.zd-cascader-selector-icon--clear::before,
.zd-cascader-selector-icon--clear::after {
  content: "";
  width: 1px;
  height: 7px;
  background-color: #fff;
}

.zd-cascader-selector-icon--clear::before {
  transform: rotate(45deg);
  position: relative;
  left: 1px;
}

.zd-cascader-selector-icon--clear::after {
  transform: rotate(-45deg);
}

.zd-cascader-display-item {
  width: 100%;
  font-size: 14px;
  line-height: 30px;
  color: rgba(0, 0, 0, .88);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.zd-cascader-menu {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
}

.zd-cascader-list {
  flex-grow: 1;
  flex-shrink: 0;
  min-width: 111px;
  height: 180px;
  border-right: 1px solid rgba(5, 5, 5, .06);
  margin: 0;
  padding: 4px;
  overflow: auto;
  vertical-align: top;
  list-style: none;
}

.zd-cascader-list:last-child {
  border-right: none;
}

.zd-cascader-list-item {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: 5px 12px;
  color: rgba(0, 0, 0, .88);
  font-size: 14px;
  line-height: 22px;
  cursor: pointer;
  border-radius: 4px;
}

.zd-cascader-list-item-label {
  flex: auto;
}

.zd-cascader-list-item-arrow {
  margin-right: -4px;
  width: 20px;
  height: 20px;
}

.zd-cascader-list-item.z-sel {
  background-color: #e6f4ff;
}

.zd-cascader-list-item:hover {
  background-color: rgba(0, 0, 0, .04);
}
